<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/medical_institute?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping class="ru.tsystems.medicalinstitute.model.CaseStatusEntity"/>
        <mapping class="ru.tsystems.medicalinstitute.model.VisitEntity"/>
        <mapping class="ru.tsystems.medicalinstitute.model.PdfFileEntity"/>
        <mapping class="ru.tsystems.medicalinstitute.model.DiagnosisEntity"/>
        <mapping class="ru.tsystems.medicalinstitute.model.MedicalStaffEntity"/>
        <mapping class="ru.tsystems.medicalinstitute.model.MedicalCaseEntity"/>
        <mapping class="ru.tsystems.medicalinstitute.model.PatientEntity"/>
    </session-factory>
</hibernate-configuration>